{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{template "title" .}} - Automotores MW</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/fonts.css" />
        <link
            rel="shortcut icon"
            href="/static/img/favicon.svg"
            type="image/x-icon"
        />
    </head>
    <body class="grid min-h-screen grid-rows-[auto,1fr,auto] bg-gray-100 text-gray-800 overflow-y-scroll">
        {{template "header" .}}
        {{template "main" .}}
        {{template "footer" .}}
    </body>
</html>
{{end}}
